/* css index */
#font-color {
    background-color: #ff00007f;
}
#entete {
    background-color:#850000;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Apple Chancery, cursive;
    color: white;
    width: 94%;
    border: 2px solid black;
    border-radius: 37px;
    margin-left: 3%;
    margin-right: 3%;
}
#div-bouton-cree {
    display: flex;
    margin-bottom : 10px;
    margin-left: 5%;
}
#bouton-cree {
    font-size: 15px;
    border-radius: 20px;

}
#div-gen-list {
    display: flex;
    justify-content: space-between;
    margin : 5px;
    border: 2px solid black;
    border-radius: 16px;
    margin-left: 4%;
    margin-right: 4%;
}
#div-titre-author {
    display: flex;
    margin: 5px;
    width: 60%;
    align-items: center;
}
.margin-left{
    margin-left: 1%;
}
#div-modifier-delete {
    display: flex;
    margin: 5px;
    align-items: center;
}
#txt-author {
    margin: 3px;
    font-size: 10px
    font-family: Apple Chancery, cursive;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: black;
}
.bouton {
    font-size: 10px
    font-family: Apple Chancery, cursive;
    color: white;
    background-color:#850000;
    border-radius: 20px;
    margin: 3px;
}
#contenu {
    font-size: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid   dodgerblue;
    border-radius: 8px;
    padding: 4px;
    resize: none;
}
#div-barre-search {
    background-color:#850000;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    font-family: Apple Chancery, cursive;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3%;
    margin-right: 3%;
}
#author {
    font-size: 10px;
    font-family: Apple Chancery, cursive;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    background-color:#850000;
}
#div-titre-autor {
    margin-left: 10%;
}
#title {
    font-size: 10px;
    font-family: Apple Chancery, cursive;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    background-color:#850000;
}
#div-contenu {
    width: 70%;
    margin-left: 15%;
}
#contenu {
    font-size: 10px;
    font-family: Apple Chancery, cursive;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 4px;
    padding-right: 4px;
    background-color:#850000;
}
#div-bouton-search {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

