#entete {
    background-color:red;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Apple Chancery, cursive;
    width: 100%;
    border-radius: 20px;
}
#boutonTitre {
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.bouton {
    font-size: 12px;
    font-family: Arial, sans-serif;

}