/* css index */

#entete {
    background-color:red;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Apple Chancery, cursive;
    width: 100%;
    border-radius: 20px;
}
#boutonTitre {
    font-size: 15px
    font-family:



}
#bouton {
font-size: 80px;
}
#contenu {
    font-size: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
    resize: none;
}