/* css index */
#font-color {
    background-color: #ff00007f;
}
#entete {
    background-color:#850000;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Apple Chancery, cursive;
    color: white;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}
#divBoutonCree{
    display: flex;
    justify-content: center;
    margin-bottom : 10px;
}
#boutonCree {
    font-size: 15px;
    font-family: Apple Chancery, cursive;
    color: white;
    background-color:#850000;
}

#divGenList {
    display: flex;
    justify-content: space-between;
    margin : 5px;
    border: 2px solid black;
    border-radius: 5px;
}
#divTitreAuthor {
    display: flex;
    margin: 5px;
    width: 60%;
    align-items: center;
}
.marginLeft{
    margin-left: 1%;
}
#div-modifier-delete{
    display: flex;
    margin: 5px;
    align-items: center;
}
#boutonTitre {
    font-size: 10px
    font-family: Apple Chancery, cursive;
    color: white;
    background-color:#850000;
    border-radius: 20px;





}





#contenu {
    font-size: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid dodgerblue;
    border-radius: 8px;
    padding: 4px;
    resize: none;
}