<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon Blog</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <header>
        <div>
            <h2 id="entete">Mon Blog</h2>
        </div>
    </header>
    <main>
    <div>
        <a th:href="@{/new}"><button id="bouton">Crée nouvel article</button></a>
    </div>
    <div th:each="model :${models} ">
        <a th:href="@{/{id}(id=${model.id})}"><button th:text="${model.title}" ></button></a>
        <span th:text="${model.author}"></span>
        <a th:href="@{/{id}/modifier(id=${model.id})}"><button >Modifier</button></a>
        <a th:href="@{/{id}/delete(id=${model.id})}"><button class="bouton">Delete</button></a>
    </div>
    <div>
        <form th:action="@{/author}" method="get">
        <label for="author">recherce d'article par auteur:</label>
        <input type="text"  id="author" name="author"/>
        <button>Search</button>
        </form>
    </div>

    </main>

</body>
</html>