<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon Blog</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body id="font-color">
    <header>
        <div>
            <h2 id="entete">Mon Blog</h2>
        </div>
    </header>
    <main>
    <div id="div-bouton-cree">
        <a th:href="@{/new}"><button class="bouton" id="bouton-cree">Crée nouvel article</button></a>
    </div>

        <div th:each="model :${models} " id="div-gen-list">
            <div id="div-titre-author">
                <span  class="margin-left">Titre:</span>
                <a th:href="@{/{id}(id=${model.id})}"><button th:text="${model.title}" class="bouton"></button></a>
                <span class="marginLeft">Auteur:</span>
                <span th:text="${model.author}" id="txt-author"></span>
            </div>
            <div id="div-modifier-delete">
                <a th:href="@{/{id}/modifier(id=${model.id})}"><button class="bouton">Modifier</button></a>
                <a th:href="@{/{id}/delete(id=${model.id})}"><button class="bouton">Delete</button></a>
            </div>
        </div>

    <div id="div-barre-search">
        <form th:action="@{/author}" method="get">
        <label for="author"></label>
        <input placeholder="auteur:*" type="text"  id="author" name="author"/>
        <button class="bouton">Search</button>
        </form>
    </div>

    </main>

</body>
</html>